<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> ta particaption à l'évènement: <%= @event.title %> a bien été prise en compte !</h1>
    <p>
      Tu t'es inscrit sur l'évènement en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur takemeout.fr !
  </body>
</html>