<div class="d-flex flex-column align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<div class="col-6 offset-3">
    <br><br>
<h1>Éditer mon profil</h1>
<br><br>
        <%= form_for(:user, url: user_path(@user), html: {method:'PATCH'} ) do |f| %>

            <div class="form-group">
            <label>Prénom</label></br>
            <%= text_field(:user, :first_name)%>
        	</div>
        
            <div class="form-group">
            <label>Nom</label></br>
            <%= text_field(:user, :last_name)%>
        	</div>


              <div class="form-group">
            <label>Description</label></br>
            <%= text_field(:user, :description)%>
            </div>



            <div class="form-group">
            <button type="submit" class="btn btn-primary" > Envoyer</button> 
            </div>

        <%end%>
</div>
</div>
